<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/lay/css/layui.css}">
    <meta charset="UTF-8">
    <title>股票筛选表格</title>
</head>
<body>
<div class="layui-elem-quote">
    <p>请选择时间:
    </p><input type="date" id="date-input" class="layui-input">
    <button id="search-button" class="layui-btn">查询</button>
    <div class="layui-elem-field layui-field-title">
        <p>共筛选出<span id="count-span">0</span>支</p>
        <p>股票代码后带<i class="layui-icon layui-icon-rate-solid"></i>表示该股票昨日也被推荐</p>
    </div>

</div>
<table class="table layui-table" lay-filter="table">
    <thead>
    <tr class="tr-head">
        <th lay-data="{field:'id', sort:true, templet:'#tpl-stock-id'}">股票代码</th>
        <th lay-data="{field:'recommend_times', sort:true}">近30日推荐次数</th>
        <th lay-data="{field:'name', sort:true}">名称</th>
        <th lay-data="{field:'turn_over_rate', sort:true, templet: '#tpl-turn-over-rate'}">换手率</th>
    </tr>
    </thead>

    <tbody>
    <tr class="data-tr" style="display: none">
        <th>111111</th>
        <th>2</th>
        <th>名称</th>
        <th>1%</th>
    </tr>
    </tbody>
</table>

<!--<button id="daily-button">-->
<!--    立刻重新获取今日数据-->
<!--</button>-->
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/lay/layui.all.js}"></script>
<script th:src="@{/js/index.js}"></script>
<script type="text/html" id="tpl-stock-id">
    {{#
    var id=d.id;
    var clazz='';
    if(id.indexOf('*')===0){
        id=id.substr(1);
        clazz='layui-icon-rate-solid';
    }
    }}

    <div>
        {{id}}
        <i class="layui-icon {{clazz}}"></i>
    </div>

</script>
<script type="text/html" id="tpl-turn-over-rate">
    <div>
        {{Number(d.turn_over_rate)/100.0}}%
    </div>
</script>
<script type="text/html" id="tpl-ma5">
    {{#
    var value=d.ma5;

    var color='black';
    if (value<0)color='green';
    else if (value>0)color='red';

    value=(value/100.0).toFixed(2);
    if(isPercentage){
    value=value+'%';
    }
    }}

    <div style="color: {{color}}">
        {{value}}
    </div>
</script>
<script type="text/html" id="tpl-ma10">
    {{#
    var value=d.ma10;

    var color='black';
    if (value<0)color='green';
    else if (value>0)color='red';

    value=(value/100.0).toFixed(2);
    if(isPercentage){
    value=value+'%';
    }
    }}

    <div style="color: {{color}}">
        {{value}}
    </div>
</script>
<script type="text/html" id="tpl-ma30">
    {{#
    var value=d.ma30;

    var color='black';
    if (value<0)color='green';
    else if (value>0)color='red';

    value=(value/100.0).toFixed(2);
    if(isPercentage){
    value=value+'%';
    }
    }}

    <div style="color: {{color}}">
        {{value}}
    </div>
</script>
<script type="text/html" id="tpl-ma60">
    {{#
    var value=d.ma60;

    var color='black';
    if (value<0)color='green';
    else if (value>0)color='red';

    value=(value/100.0).toFixed(2);
    if(isPercentage){
    value=value+'%';
    }
    }}

    <div style="color: {{color}}">
        {{value}}
    </div>
</script>
<script type="text/html" id="tpl-ma120">
    {{#
    var value=d.ma120;

    var color='black';
    if (value<0)color='green';
    else if (value>0)color='red';

    value=(value/100.0).toFixed(2);
    if(isPercentage){
    value=value+'%';
    }
    }}

    <div style="color: {{color}}">
        {{value}}
    </div>
</script>
</body>
</html>

